<?xml version="1.0" encoding="utf-8"?>
<ResourcePackConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Title>Titre</Title>
  <Author>Auteur</Author>
  <Description>Description</Description>
  <AppVersionMinimumSupport>0.1</AppVersionMinimumSupport>
  <ResourcePackVersion>1.0</ResourcePackVersion>
</ResourcePackConfig>